<template>
<div class="application">
  <main>
    <cart-table></cart-table>
    <dont-miss></dont-miss>
  </main>
</div>
</template>

<script>
import CartTable from '../components/CartTable';
import DontMiss from '../components/DontMiss';

export default {
  name: 'cart',
  data() {
    return {
    };
  },
  components: {
    CartTable,
    DontMiss,
  },
};
</script>

<style lang="sass" scoped>
main
  margin-top: 193px
  @media all and (max-width: 640px)
    margin-top: 100px
  
</style>