<template>
<div class="application">
  <main>
    <catalog-items></catalog-items>
  </main>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import CatalogItems from '../components/CatalogItems';

export default {
  name: 'FullCatalog',
  data() {
    return {
    };
  },
  components: {
    CatalogItems,
  },
};

</script>

<style lang="sass" scoped>

</style>