<template>
<div class="application">
  <main>
    <images></images>
    <catalog></catalog>
    <TimeSale></TimeSale>
    <brands></brands>
  </main>
</div>
</template>

<script>
import Images from '../components/Images';
import Catalog from '../components/Catalog';
import TimeSale from '../components/TimeSale';
import Brands from '../components/Brands';


export default {
  name: 'main_page',
  data() {
    return {
    };
  },
  components: {
    Images,
    Catalog,
    TimeSale,
    Brands,
  },
};
</script>
