<template>
<div class="application">
  <main>
  <product :product="product"></product>
  <reviews></reviews>
  </main>
</div>
</template>

<script>
import Product from '../components/Product';
import Reviews from '../components/Reviews';
import { mapGetters } from 'vuex';

export default {
  name: 'main_page',
  props: ['id'],
  computed: {
    ...mapGetters({
      items: 'getItems',
    }),
    product(){
      return this.items.find((i) => i.id == this.id)
    }
  }, 
  components: {
    Product,
    Reviews,

  },
};
</script>

<style lang="sass" scoped>
*
  margin: 0
  padding: 0
  box-sizing: border-box
  color: white


</style>
