<template>
<div class="application">
  <main>
    <catalog></catalog>
    <catalog></catalog>
    <catalog></catalog>
  </main>
</div>
</template>

<script>
import Catalog from '../components/Catalog';

export default {
  name: 'cart',
  data() {
    return {
    };
  },
  components: {
    Catalog,
  },
};
</script>

<style lang="sass" scoped>
main
  margin-top: 250px

</style>
