<template>
  <div class="brands">
      <h2>BRANDS</h2>
      <div class="brandsContainer">
      <div v-for="n in brand" :key="n.img" class="brand">
        <img :src="n.img"/>
        <!-- <img v-for="n in 6" :key="n" src="../assets/Brands/.png"/> -->
      </div>
      </div>
  </div>
</template>
<script>

let brand = [];
for (let i = 0; i < 6; i++) { // eslint-disable-line
  const b = i + 1;
  brand.push({
    id: i,
    img: `/static/brands/${b}.jpg`,
 });
}
export default {
  name: 'Brands',
  data() {
    return {
      brand,
    };
  },
  methods: {
    info(num){
      alert(num)
    }
  }
};
</script>

<style lang="sass" scoped>
.brands
  @media all and (max-width: 640px)
    overflow-x: hidden
  h2
    color: #434343;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    padding: 47px 0px;
    font-weight: normal;
    @media all and (max-width: 640px)
      padding: 30px
  .brandsContainer
    display: flex;
    justify-content: space-around;
    padding-bottom: 55px;
    @media all and (max-width: 640px)
      flex-wrap: wrap
      padding: 20px
    .brand
      img
        // @media all and (max-width: 640px)
        margin-bottom: 15px
        width: 130px
</style>