<template>
<div class="table">
  <h3>My Cart</h3>
  <table>
    <tbody>
      <tr>
        <th>
          <div>
            <span>ITEM</span>
          </div>
        </th>
        <th>
          <div>
            <span>SIZE</span>
          </div>
        </th>
        <th>
          <div>
            <span>QITY</span>
          </div>
        </th>
        <th>
          <div>
            <span>PRICE</span>
          </div>
        </th>
        <th>
          <div>
            <span>ADDITIONAL REQUEST</span>
          </div>
        </th>
        <th>
          <div>
            <span></span>
          </div>
        </th>
      </tr>
      <tr v-for="item in cartItems" :key="item.id">
        <td>
          <img :src="item.img"/>
          {{item.name}}
          </td>
        <td>XL</td>
        <td>{{item.count}}</td>
        <td>{{item.count * item.price}}</td>
        <td></td>
        <td>
          <a @click="removeItem(item)">
            <span>X</span>
            <span>REMOVE</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <div class="button">

    <router-link class="cartButton" to="fullcatalog">CONTINUE SHOPING</router-link>
    <router-link class="cartButton" to="fullcatalog">CHECK OUT</router-link>
  </div>
</div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Table',
  computed: {
    ...mapGetters({
      cartItems: 'getCart',
    })
  },
  methods: {
    removeItem(item) {
      this.$store.commit('removeItem', item)
    }
  }
};

</script>

<style lang="sass" scoped>
.table
  padding: 0px 100px
  overflow-x: auto
  @media all and (max-width: 640px)
    padding: 0 10px
  h3
    font-family: 'Roboto', sans-serif
    text-align: left
    font-size: 30px
    color: #434343
    opacity: 0.3
    font-weight: 300
    padding-bottom: 32px
  table
    display: table
    min-width: 1150px
    height: 200px
    border-collapse: collapse
    border: 1px solid #95989A
    @media all and (max-width: 640px)
      padding: 0 
    tbody
      tr, td, th
        color: #95989A
        font-family: 'Roboto', sans-serif
      th
        border: 1px solid #95989A
        min-height: 55px
        div
          span
            color: black
      td
        border: 1px solid #95989A
        min-width: 100px
        img
          width: 120px
        a
          span
            color: black
            &:nth-child(1)
              color: red
  .button
    display: flex
    justify-content: flex-end
    width: 1150px
    .cartButton
      text-decoration: none
      margin-top: 28px
      margin-right: 5px
      padding-top: 8px
      width: 140px
      height: 35px
      background-color: #727272
      outline: none
      border-radius: 20px
      border: none
      font-family: 'Roboto', sans-serif
      &:nth-child(1)
        width: 195px
</style>
