<template>
  <div class="catalog">
    <div v-for="n in items" :key="n.id" href="#" class="item">
      <img :src="n.img"/>
      <h4>{{n.name}}</h4>
      <p>${{n.oldPrice}}</p>
      <router-link :to="`/product/${n.id}`" class="btn items">Add to Cart</router-link>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Catalog',
  computed: {
    ...mapGetters({
      items: 'getItems',
    })
  }
}
</script>

<style lang="sass" scoped>

main .catalog
  display: flex
  padding: 50px 0px
  flex-wrap: wrap
  justify-content: center
  .item
    width: 264px
    height: 382px
    border: 1px solid #95989A
    margin: 10px 15px
    border-radius: 10px
    overflow: hidden
    background-color: white
    @media all and (max-width: 640px)
      width: 100%
      border: none
    img
      margin: -1px -1px 0 -1px
      margin-bottom: 12px
    p
      color: #535353
      text-align: center
      padding-top: 12px
    h4
      color: #535353
      text-align: center
    a.btn
      display: flex
      justify-content: center
      align-items: center
      width: 125px
      height: 35px
      border-radius: 15px
      text-decoration: none
      outline: none
      background-color: inherit
      border: 1px solid white
      &.items
        border: 1px solid darkgray
        color: #535353
        margin: 12px auto

</style>
