<template>
<div class="dontMiss">
   <h3>Don't miss...</h3>
  <div class="relatedItems">
    <div v-for="item in items" :key="item.id" class="itemBlock">
      <div class="itemElements">
        <img :src="item.img"/>
        <div class="elementContainer">
          <div @click="addItemToCart(item)">Add to card</div>
          <div>
            <h4>${{item.price}}</h4>
            <img v-for="star in 5" :key="star" src="../assets/star.png"/>
          </div>
        </div>
      </div>
      <p>{{item.name}}</p>
    </div>
  </div>
</div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: 'DontMiss',
  computed: {
    ...mapGetters({
      items: 'getItems',
    })
  },
  methods: {
    addItemToCart(item) {
      this.$store.commit('addItem', item)
    }
  }  

};
</script>

<style lang="sass" scoped>
.dontMiss
  padding: 100px 80px
  h3
    color: #434343
    font-weight: 500
    padding-left: 15px
    padding-bottom: 25px
    text-align: left
    font-size: 24px
    font-family: 'Roboto', sans-serif
  .relatedItems
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    @media all and (max-width: 640px)
      margin: 0 auto
    .itemBlock
      padding-bottom: 20px
      .itemElements
        position: relative
        border-radius: 7px
        overflow: hidden
        & > img
          display: block
        .elementContainer
          position: absolute
          bottom: 0
          display: flex
          width: 100%
          height: 20%
          background-color: rgba(0,0,0,0.7)
          div
            margin: auto
            flex-grow: 1
      p
        font-family: 'Roboto', sans-serif
        font-size: 14px
        color: black
</style>