<template>
  <section class="bunners">
      <div class="backImg">
        <div>
          <h2>Cicero's version of Liber Primus</h2>
          <p>Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils finibus may also be translated)</p>
          <router-link class="btn centred" to="fullcatalog">SHOP NOW</router-link>
        </div>
      </div>
      <div class="under">
        <div class="left">
          <h3>EVERYTHING UNDER $20</h3>
          <router-link class="btn" to="fullcatalog">SHOP NOW</router-link>
        </div>
        <div class="right">
          <h3>EVERYTHING UNDER $20</h3>
          <router-link class="btn" to="fullcatalog">SHOP NOW</router-link>
        </div>
      </div>
    </section>
    
</template>
<script>
export default {
  name: 'Images'
}
</script>

<style lang="sass" scoped>


.left, .right
 & > *
  position: relative

.bunners
  @media all and (max-width: 640px)
    flex-wrap: wrap
  .backImg
    height: 768px
    position: relative
    background-image: url(../assets/hero.png)
    color: white
    display: flex
    background-repeat: no-repeat
    background-size: cover
    &:before
      content: ""
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: rgba(0,0,0,0.6)
    & > div
      position: relative
      margin: auto
      max-width: 590px
      text-align: center
      padding-top: 130px
    h2
      font-size: 40px
      font-family: 'Segoe UI'
      font-weight: normal
      margin-top: -32px
      @media all and (max-width: 640px)
        font-size: 30px
    p
      font-size: 15px
      font-family: 'Roboto', sans-serif
      margin: 0 15px
      padding-bottom: 33px
      padding-top: 6px
      color: #95989A
    a.btn
      display: flex
      justify-content: center
      align-items: center
      width: 125px
      height: 35px
      border-radius: 15px
      text-decoration: none
      outline: none
      background-color: inherit
      border: 1px solid white
      color: white
      transform: translate(7px, 15px)
    .centred 
      margin: 0 auto
  .under
    display: flex
    flex-wrap: wrap
    width: inherit
    @media all and (min-width: 640px)
      flex-wrap: no-wrap
      height: 378px
    .left
      background-image: url(../assets/left.png)
      position: relative
      @media all and (max-width: 640px)
        background-position: top
      &:before
        content: ""
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,0.7)
    .right
      background-image: url(../assets/right.png)
      position: relative
      @media all and (max-width: 640px)
        background-position: right
      &:before
        content: ""
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-color: rgba(0,0,0,0.6)
        
  .left , .right
    flex-grow: 1
    height: 378px
    display: flex
    flex-direction: column
    justify-content: flex-end
    font-family: 'Roboto', sans-serif
    padding-left: 100px
    padding-bottom: 48px
    @media all and (max-width: 640px)
      padding-left: 20px
      padding-bottom: 30px
    h3
      padding-bottom: 6px
      font-size: 30px
      font-family: 'Roboto', sans-serif
      font-weight: 100
      text-align: left
      @media all and (max-width: 640px)
        font-size: 25px
    a.btn
      display: flex
      justify-content: center
      align-items: center
      width: 125px
      height: 35px
      border-radius: 18px
      text-decoration: none
      outline: none
      background-color: inherit
      border: 1px solid white
      color: white
      transform: translate(7px, 6px)
</style>