<template>
  <div>
    <div class="messageBlock">
      <div class="name">
      <img src="../assets/avatar.png"/>
      <h4>Alessandro Nesta</h4>
      </div>
      <p>Lorem ipsum dolor sit amet, alii reque ei eam, integre repudiare eum at. Alienum fierent partiendo id ius. Cu purto sapientem evertitur est, has harum eripuit ut. An commune fabellas has, commodo nostrum in vim.</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Message'
};
</script>

<style lang="sass" scoped>
.messageBlock
  text-align: left
  margin-top: 20px
  @media all and (max-width: 640px)
    padding: 20px 25px
  div
    display: flex
    h4
      color: #95989A
      align-self: flex-end
      padding-left: 14px
  p
    color: #95989A
    padding-top: 6px
    font-size: 14px
    font-weight: normal
</style>