<template>
  <nav class="mobile-nav" :class="{'active': !getBlurState}">
    <div class="buttons">
      <button @click="handleClick">
        <div></div>
        <div></div>
        <div></div>
      </button>
      <router-link to="/cart" class="basket"></router-link>
    </div>
    <ul>
      <li>
        <input placeholder="Search..."/>
      </li>
      <li>
        <router-link to="/">HOME</router-link>
        </li>
      <li>WOMAN</li>
      <li>MAN</li>
      <li>KIDS</li>
      <li>SALE</li>
    </ul>
    
  </nav>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
  name: 'mobile-nav',
  computed: {
    ...mapGetters([
      'getBlurState',
    ])
  },
  methods: {
    handleClick () {
      this.$store.commit('blurToggle', !this.getBlurState)
    }
  }
};
</script>

<style lang="sass" scoped>
@import "../assets/variables.sass"

@media all and (min-width: 960px)
  .mobile-nav
    display: none
@media all and (max-width: 959px)
  .mobile-nav
    position: fixed
    left: 0
    right: 0
    top: 0
    height: $height
    transition: background 0.3s, background-color 0.3s
    background-color: rgba(0,0,0,0.5)
    .buttons
      display: flex
      padding: 0 10px
      align-items: center
      button
        height: $height
        display: block
        background: none
        width: 100%
        border: none
        &:focus
          outline: none
        div
          width: 30px
          height: 4px
          background-color: white
          margin: 5px 0
          border-radius: 10px
          &:nth-child(1)
            background-color: #595656
          &:nth-child(2)
            background-color: #AAA7A7
          &:nth-child(3)
            background-color: #CDC8C8
      .basket
        background-image: url(../assets/Cart.svg)
        width: 40px
        height: 35px
        display: block
        background-size: contain
        background-repeat: no-repeat
    ul
      height: 100vh
      overflow: scroll
      transform: translateX(-100vw)
      transition: transform 0.3s
      background-color: rgba(0,0,0,0.9)
      li
        display: block
        line-height: $height
        height: $height
        input
          border-radius: 1488px
          background: transparent
          border: 1px solid #f2f2f2
          color: white
          width: 70%
          font-size: 15px
          padding: 5px 15px
          line-height: $height / 1.5
          height: $height / 1.5
          &:focus
            outline: none
        a
          text-decoration: none
    &.active
      background-color: rgba(0,0,0,0.9)
      ul
        transform: translateX(0)
        
</style>
