<template>
  <header>
    <div class="nav">
      <div class="navLeft">
        <router-link to="/">
        <h2>FASHION SHOP</h2>
        </router-link>
        <div class="links">
        <a href="#"> HOME </a>
        <a href="#"> WOMAN </a>
        <a href="#"> MAN </a>
        <a href="#"> KIDS </a>
        <a href="#"> SALE </a>
        </div>
      </div>
      <div class="navRight">
        <input placeholder="Search"/>
        <router-link to="/cart" class="basket"></router-link>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'my-header'
}
</script>

<style lang="sass" scoped>

header
  position: fixed
  top: 0
  width: 100vw
  padding: 40px 80px
  background-color: rgba(0,0,0,0.5)
  height: 119px
  @media all and (max-width: 1239px)
    padding: 40px 20px
  @media all and (max-width: 959px)
    display: none
  .nav
    display: flex
    .navLeft
      display: flex
      flex-grow: 1
      align-items: center
      justify-content: space-between
      padding-left: 20px
      padding-right: 120px
      h2
        color: white
        font-size: 29px
        font-weight: 400
      .link
        display: flex
      .links
        display: flex
        justify-content: space-between
        flex-grow: 1
        padding-left: 10px
        margin: 0 60px
      a
        text-decoration: none
        color: white
        font-size: 15px
        font-weight: 100
    .navRight
      display: flex
      justify-content: flex-end
      flex-grow: 1
      padding-right: 20px
      input
        outline: none
        width: 273px
        height: 35px
        background-color: rgba(0, 0, 0, 0.3)
        border: 1px solid grey
        border-radius: 20px
        margin-right: 12px
        font-family: 'Roboto', sans-serif
        font-style: italic
        padding-left: 20px
    .basket
      background-image: url(../assets/Cart.svg)
      width: 35px
      height: 35px
      // img
      //   width: 50px
      //   height: 50px
</style>
