<template>
  <div class="productContainer">
    <div class="productLeft">
      <h2>{{product.name}}</h2>
      <h5>Category: Women, Shirt</h5>
      <div class="starText">
        <img v-for="n in product.stars" :key="n" src="../assets/bigstar.png"/>
        <span>{{product.stars}}/5</span>
      </div>
      <p>{{product.description}}</p>
      <div class="buttonsBlock">
        <div>
          <div class="size">
          <p>Size</p>
            <div class="buttons">
              <div v-for="i in ['XS', 'S', 'M', 'L', 'XL']" :key="i" class="button">
                <input :id="i" name="size" type="radio"/>
                <label :for="i">{{i}}</label>
              </div>
            </div>
          </div>
          <div class="quanity">
          <p>Quantity</p>
            <div class="buttons">
              <div v-for="i in 5" :key="i" class="button">
                <input :id="i" name="quanity" type="radio"/>
                <label :for="i">{{i}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="addToCart">
          <button @click="addItemToCart(product)">ADD TO CART</button>
        </div>
      </div>
    </div>
    <div class="productRight">
      <img src="../assets/im1.png"/>
      <img src="../assets/im2.png"/>
      <img src="../assets/im3.png"/>
      <img src="../assets/im4.png"/>
      <img src="../assets/im5.png"/>
    </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Product',
  data() {
    return {
      items: [],
    };
  },
  props: ['product'],
  computed: {
    ...mapGetters({
      items: 'getItems',
    })
  },
  methods: {
    addItemToCart(item) {
      this.$store.commit('addItem', item)
    }
  } 
};
</script>

<style lang="sass" scoped>
$basic-size: 25px
.productContainer
  padding-top: 187px
  padding-left: 100px
  padding-right: 110px
  padding-bottom: 87px
  display: flex
  @media all and (max-width: 640px)
    padding: 50px 0
    flex-wrap: wrap
  .productLeft
    padding-right: 29px
    @media all and (max-width: 640px)
      padding: 20px
    h2, h5, p
      color: black
      font-family: 'Roboto', sans-serif
      text-align: left
    h2
      font-size: 40px
      font-weight: normal
    h5
      font-size: 14px
      padding-top: 5px
    .starText
      display: flex
      padding-top: 23px
      img
        width: $basic-size
        height: $basic-size
      span
        color: black
    p
      font-size: 15px
      padding-top: 21px
      line-height: 1.4
    .buttonsBlock
      display: flex
      @media all and (max-width: 640px)
        flex-wrap: wrap
        justify-content: center
      p
        color: black
    .buttons
      display: flex
      padding-top: 10px
      input[type=radio]
        display: none
        &:checked + label
          background-color: black
      label
        display: block
        width: 42px
        height: 43px
        border-radius: 10px
        color: #95989A
        border: 1px solid #95989A
        outline: none
        background-color: white
        margin-right: 2px
        font-size: 12px
    .addToCart
      display: flex
      align-items: flex-end
      flex-grow: 1
      justify-content: flex-end
      @media all and (max-width: 640px)
        justify-content: center
        padding: 15px 0
      button
        width: 160px
        height: 35px
        background-color: #727272
        outline: none
        border-radius: 20px
        border: none
        font-weight: 100
        font-size: 15px
        font-family: 'Roboto', sans-serif
        &:active
          background-color: #402C2C
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.4)
          transition: All 0.2s ease
  .productRight
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    img
      margin-bottom: 10px
    img:nth-child(1)
      @media all and (max-width: 640px)
        max-width: 320px
        max-height: 260px
        margin-bottom: 7px

</style>