<template>
  <div class="relatedItems">
    <div v-for="item in items" :key="item" class="itemBlock">
      <div class="itemElements">
        <img :src="item.img"/>
        <div class="elementContainer">
          <div>Add to card</div>
          <div>
            <h4>${{item.price}}</h4>
            <img v-for="star in 5" :key="star" src="../assets/star.png"/>
          </div>
        </div>
      </div>
      <p>{{item.name}}</p>
    </div>
  </div>

</template>

<script>
const items = [];
for (let i = 0; i < 8; i++) { // eslint-disable-line
  const b = i + 1;
  items.push({
    img: `/static/catalog/${b}.png`,
    name: 'Lorem ipsum is a pseudo-Latin',
    price: 29.99,
  });
}
export default {
  name: 'Related',
  data() {
    return {
      items,
    };
  },
};
</script>

<style lang="sass" scoped>
.relatedItems
  padding-left: 38px
  padding-top: 90px
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  @media all and (max-width: 640px)
    padding: 0
  .itemBlock
    padding-bottom: 20px
    .itemElements
      position: relative
      border-radius: 7px
      overflow: hidden
      & > img
        display: block
      .elementContainer
        position: absolute
        bottom: 0
        display: flex
        width: 100%
        height: 20%
        background-color: rgba(0,0,0,0.7)
        div
          margin: auto
          flex-grow: 1
    p
      font-family: 'Roboto', sans-serif
      font-size: 14px
</style>