<template>
  <div class="commentsContainer">
    <div class="comments">
      <div class="sendComment">
        <h3>Leave a comment</h3>
        <p>Sed et repudiare intellegam, sonet melius mandamus cu mel. </p>
          <div>
            <input placeholder="Name"></input>
            <input placeholder="E-mail"></input>
            <textarea placeholder="Message"></textarea>
            <div class="smiles">
            <img v-for="n in 11" :key="n" src="../assets/smile.png"/>
            </div>
              <div class="button">
                <button>SUBMIT</button>
              </div>
        </div>
      </div>
        <message></message>
    </div>
      <related></related>
  </div>
</template>

<script>
import Message from '../components/Message';
import Related from '../components/Related';


export default {
  name: 'Rewiews',
  components: {
    Message,
    Related,
  },
};
</script>

<style lang="sass" scoped>
.commentsContainer
  display: flex
  padding: 22px 100px
  @media all and (max-width: 640px)
    padding: 0
    flex-wrap: wrap
  .comments
    h3
      font-size: 24px
    h3, p
      color: black
      text-align: left
      font-family: 'Roboto', sans-serif
    div
      padding-top: 23px
      input, textarea
        display: block
        width: 560px
        height: 35px
        border-radius: 20px
        border: 1px solid #727272
        outline: none
        color: #434343
        margin-bottom: 13px
        padding-left: 20px
        font-family: 'Roboto', sans-serif
        font-style: italic
        @media all and (max-width: 640px)
          width: 100vw
        &:not(input) 
          height: 174px
          text-align: top
          resize: none
      .smiles
        display: flex
        justify-content: flex-end
        padding: 0
        @media all and (max-width: 640px)
          flex-wrap: wrap
        img
           margin-left: 14px
      .button
        display: flex
        justify-content: flex-end
        button
          width: 115px
          height: 35px
          color: #727272
          border: 2px solid #727272
          outline: none
          background-color: white
          border-radius: 15px
</style>