<template>
     <div class="sale">
       <h2>CRAZY SALE ENDS IN</h2>
        <div class="time">
          <div>
            <div class="timeBlock">02</div>
            <p>DAYS</p>
          </div>
          <div>
            <div class="timeBlock">19</div>
            <p>HOURS</p>
          </div>
          <div>
            <div class="timeBlock">58</div>
            <p>MINUTES</p>
          </div>
          <div>
            <div class="timeBlock">34</div>
            <p>SECONDS</p>
          </div>
        </div>
      <div class="saleItems">
        <img @click="prev" class="arrow" src="../assets/trnLeft.png"/>
          <carousel
            :autoplay="false"
            class="carousel"
            :paginationEnabled="true"
            :perPageCustom="[[320, 1], [720, 2], [960, 3], [1024, 4]]"
            ref="carousel">
            <slide v-for="n in items" :key="n.id">
              <div class="item">
                <div class="img-and-stars">
                  <img :src="n.img"/>
                  <div class="stars">
                    <img  v-for="star in n.stars" :key="star" src="../assets/star.png"/>
                  </div>
                </div>
                <h4>{{n.name}}</h4>
                <p class="red">${{n.oldPrice}}</p>
                <p class="price">${{n.price}}</p>
                <router-link :to="`/product/${n.id}`" class="btn items">Add to Cart</router-link>
              </div>
            </slide>
          </carousel>
        <img @click="next" class="arrow" src="../assets/trnRight.png"/>
      </div>
    </div>
     </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'TimeSale',
  computed: {
    ...mapGetters({
      items: 'getItems',
    })
  },
  methods: {
    addItemToCart(item) {
      this.$store.commit('addItem', item)
    },
    prev () {
      this.$refs.carousel.goToPage(this.$refs.carousel.getPreviousPage())
    },
    next () {
      this.$refs.carousel.goToPage(this.$refs.carousel.getNextPage())
    }
  }
}
</script>

<style lang="sass" scoped>
main .sale
  height: 780px
  background-color: #434343
  @media all and (max-width: 640px)
    height: auto
  h2
    padding-top: 50px
    font-size: 40px
    font-family: 'Roboto', sans-serif
    font-weight: 100
    color: #95989A
  .time
    display: flex
    justify-content: center
    padding-top: 27px
    padding-bottom: 85px
    @media all and (max-width: 640px)
      justify-content: space-evenly
    & > div
      margin: 0 10px
      font-weight: 100
      @media all and (max-width: 640px)
        margin: 0
      p
        color: #95989A
        font-size: 13px
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        text-align: center
        @media all and (max-width: 640px)
          font-size: 11px
      .timeBlock
        width: 66px
        height: 66px
        background-color: white
        color: #95989A
        border-radius: 10px
        font-size: 40px
        text-align: center
        @media all and (max-width: 640px)
          width: 45px
          height: 45px
          font-size: 30px
  .saleItems
    display: flex
    width: 100%
    .carousel
      flex-grow: 1
      display: block
      overflow: hidden
      // width: calc(100% - 394px)
    .arrow
      width: 17px
      height: 34px
      margin: 180px 30px
      @media all and (max-width: 640px)
        display: none
  .VueCarousel-slide
    display: flex
  .item
    height: 382px
    margin: 0 auto
    border: 1px solid #95989A
    border-radius: 10px
    overflow: hidden
    background-color: white
    width: 264px
    .img-and-stars
      position: relative
      .stars
        position: absolute
        bottom: 15px
        right: 15px
  h4
    color: #535353
    text-align: center
  .red
    font-size: 18px
    font-family: 'Roboto', sans-serif
    font-weight: bold
    color: red
    text-decoration: line-through
    display: inline-block
    text-align: center
  .price
    font-size: 18px
    font-family: 'Roboto', sans-serif
    font-weight: bold
    color: #535353
    text-decoration: none
    display: inline-block
    text-align: center

  a.btn.items
    border: 1px solid darkgray
    color: #535353
    margin: 12px auto

  a.btn
    display: flex
    justify-content: center
    align-items: center
    width: 125px
    height: 35px
    border-radius: 15px
    text-decoration: none
    outline: none
    background-color: inherit
    border: 1px solid white
    color: white
</style>
