<template>
  <div id="app">
    <div class='filter'>
      <router-view></router-view>
      <my-footer>
      </my-footer>
    </div>
    <my-header></my-header>
    <mobile-nav></mobile-nav>
  </div>
</template>

<script>
import MyHeader from './components/MyHeader';
import MobileNav from './components/MobileNav';
import MyFooter from './components/MyFooter';
import { mapGetters } from 'vuex';

export default {
  name: 'app',
  computed: {
    ...mapGetters([
      'getBlurState',
    ])
  },
  components: {
    MyHeader,
    MyFooter,
    MobileNav
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,400i');
@import './assets/fonts/style.css';
#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.filter{
  transition: filter 0.5s;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
</style>
